<footer>       
<div class="containerFooterAll">
  <div class="containerBody">
    <div class="column1">
      <h1>Más información de la compañía</h1>
      <p>International Business Machines Corporation (IBM) (NYSE: IBM) es una reconocida empresa multinacional estadounidense de tecnología y consultoría con sede en Armonk, Nueva York. IBM fabrica y comercializa hardware y software para computadoras, y ofrece servicios de infraestructura, alojamiento de Internet, y consultoría en una amplia gama de áreas relacionadas con la informática, desde computadoras centrales hasta nanotecnología.</p>
    </div>
  <div class="column2">
    <h1>Redes Sociales</h1>
    <div class="row">
      <img src="../../assets/images/facebook.png" class="logos"/>
      <label class="icons"><a href="https://www.facebook.com/IBM" target="_blank">Siguenos en Facebook</a></label>
    </div>
    <div class="row">
      <img src="../../assets/images/twitter.png" class="logos"/>
      <label class="icons"><a href="https://twitter.com/ibm" target="_blank">Siguenos en Twitter</a></label>
    </div>
    <div class="row">
      <img src="../../assets/images/linkedin.png" class="logos"/>
    <label class="icons"><a href="https://www.linkedin.com/company/ibm" target="_blank">Siguenos en Linkedin</a></label>
    </div>
    <div class="row">
      <img src="../../assets/images/youtube.png" class="logos"/>
      <label class="icons"><a href="https://www.youtube.com/ibm" target="_blank">Siguenos en Youtube</a></label>
    </div>
    <div class="row">
      <img src="../../assets/images/linkedin.png" class="logos"/>
      <label class="icons"><a href="https://www.instagram.com/ibm/?hl=es-la" target="_blank">Siguenos en Instagram</a></label>
    </div>
    <div class="row">
      <img src="../../assets/images/verse.png" class="logos"/>
      <label class="icons"><a href="https://w3.ibm.com/verse" target="_blank">Contáctanos</a></label>
    </div>
    </div>
    <div class="column3">
      <h1>Información de Contactos</h1>
    <div class="row2">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3329.598898833457!2d-70.62788798542341!3d-33.43370008077872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c58658b9a11d%3A0xe250a90256ca5497!2sAv.+Providencia+655%2C+Providencia%2C+Regi%C3%B3n+Metropolitana!5e0!3m2!1ses-419!2scl!4v1565646358573!5m2!1ses-419!2scl" width="400" height="300" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="row2">
      <img src="../../assets/images/smartphone.png" />
      <label>+(2) 2200 6000</label>
    </div>
    </div>
  </div>
</div>
 
<div class="containerFooter">
  <div class="footer">             
    <div class="copyright">
      © 2019 Todos los Derechos Reservados | <a href="https://www.ibm.com/cl-es" target="_blank">IBM de Chile S.A.C</a>
    </div> 
    <div class="information">
      <a href="https://www.ibm.com/cl-es/about?lnk=fab_cles" target="_blank">Información Compañia</a> | <a href="https://www.ibm.com/privacy/cl/es/?lnk=flg-priv-ares" target="_blank">Privacidad y Política</a> | <a href="https://www.ibm.com/cl-es/legal?lnk=flg-tous-ares" target="_blank">Términos y Condiciones</a>
    </div>
  </div>
</div> 
</footer>