<div class="Nosotros" id="nosotros">
    <br/>
    <div class="container">
    <div class="column1"></div>
      <img src="../../../assets/images/group.jpg" class="group">
    <div class="column2">
    <h1 class="text-center nosotros"><strong>Nosotros</strong></h1>
    <p class="Parrafo">Somos un equipo multidiciplinario de estudiantes del área GBS-CPT que ha trabajado en conjunto para desarrollar una solución en el área gerencial.
        Colaborando efectivamente con personal interno de IBM, haciendo uso de metodología ágil y herramientas de IBM como RPA, AV y Cognos.</p>
        <hr/>
        <h3 class="Invitacion">Te invitamos a ser parte de esta gran experiencia!</h3>
    </div>
    </div>
</div>